html{
    overflow-x: hidden;
}
body{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar {
    display: none;
}

@media print{
    @page {
size: A4; /* Set page size */
}
body {
overflow: hidden; /* Prevent extra pages */
}
  }
